@{
    ViewBag.Title = "About";
}
<div class="about" id="about">
	<div class="container">
		<div class="w3l-about-grids_inner">
			<div class="col-md-6 w3ls-about-left">
				<h2>Welcome to the Legal Adviser</h2>
				<h6>Lorem ipsum dolor sit amet,Phasellus dapibus felis elit, sed accumsan arcu gravida vitae.</h6>
				<p>
					Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat at lectus ullamcorper, nec interdum
					neque hendrerit.Lorem ipsum dolor sit amet,Phasellus dapibus felis elit, sed accumsan arcu gravida vitae
				</p>
				<p>
					Lorem ipsum dolor sit amet,Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat at lectus
					ullamcorper, nec interdum neque hendrerit.
				</p>
				<a href="#contact" class="scroll hvr-shutter-out-vertical">Contact</a>
			</div>
			<div class="col-md-6 w3ls-about-right">
				<img src="~/Assets/Client/images/ab.jpg" alt=" " class="img-responsive">
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>