
@{
	ViewBag.Title = "Contract";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Contract -->
<div class="contract" id="contract">
	<div class="container">
		<div class="w3l-about-grids_inner">
			<div class="col-md-8 w3ls-about-left">
				<div id="contrac_1">
					<h2>Thủ tục chuyển nhượng, tặng cho QSDĐ, QSH nhà:</h2>
					<h3>Giấy tờ bên chuyển nhượng cần cung cấp:></h3>
					<ol type="1">
						<li>
							Giấy chứng nhận quyền sở hửu nhà, quyền sử dụng đất:
							<dl>
								<dt>Trường hợp bán, tặng cho một phần nhà đất thì cần có thêm giấy tờ sau:</dt>
								<dd>Hồ sơ kỹ thuật thửa đất đã tách thửa , hồ sơ hiện trạng nhà</dd>
							</dl>
						</li>
						<li> Số hộ khẩu của bên bán ( vợ và chồng).</li>
						<li>
							Giấy tờ chứng minh quan hệ hôn nhân của bên bán ( Đăng ký kết hôn ).
						</li>
						<dl>
							<dt>* Trường hợp bán, tặng cho một phần nhà đất thì cần có thêm giấy tờ sau:</dt>
							<dd>
								<ol>
									<li>
										Giấy xác nhận tình trạng hôn nhân ( nếu từ trước tới nay sống độc thân ).
									</li>
									<li>
										Bản án ly hôn + giấy xác nhận tinh trạng hôn nhân ( nếu đã ly hôn ).
									</li>
									<li>
										Giấy chứng tử của vợ hoặc chồng + giấy xác nhận tình trạng hôn nhân ( nếu vợ hoặc chồng đã chết trước khi có tài sản ).
									</li>
									<li>
										Giấy tờ chứng minh tài sản riêngdo được tặng cho riêng, do được thừa kế riêng, hoặc có thảo thuận hay bản án phân chia tài sản.
									</li>
									<li>
										Hợp đồng ủy quyền ( Nếu có ).
									</li>
								</ol>
							</dd>
						</dl>
					</ol>
					<h3>Giấy tờ bên nhận chuyển nhượng, nhận tặng cho cần cung cấp:</h3>
					<ol type="1">
						<li>Chứng minh nhân dân hoặc hộ chiếu của bên mua, bên tặng cho ( cả vợ và chồng nếu bên mua là hai vợ chồng ).</li>
						<li>Sổ hộ khẩu của bên mua ( cả hai vợ chồng ).</li>
						<li>Giấy tờ chứng minh quan hệ hôn nhân của bên mua ( Đăng ký kết hôn, giấy xác nhận độc thân ).</li>
						<li>
							Hơp đồng ủy quyền ( nếu có ).
						</li>
					</ol>
				</div>
				<div id="contract_2">
					<h2>Thủ tục phân chia di sản thừa kế, nhận di sản thừa kế:</h2>
					<h3>Các giấy tờ cần cung cấp: </h3>
					<ol>
						<li>Chứng minh nhân dân, hộ khẩu, giấy khai sinh của những người khai nhận di sản thừa kế.</li>
						<li>
							Chứng tử của những người sau:
							<ul style="list-style-type: circle">
								<li>Người chết để lại di sản</li>
								<li>Trong số những người gồm cha, mẹ, vợ, con của người để lại di sản đã chết</li>
							</ul>
						</li>
						<li>Di chúc của người chết để lại di sản ( nếu có )</li>
						<li>
							Giấy tờ chứng minh quan hệ của những người sau đây với người chết để lại di sản
							<ul style="list-style-type: circle">
								<li>Vợ (chồng) của người chết để lại di sản</li>
								<li>Cha mẹ của người chết đê lại di sản</li>
								<li>con của người để lại di sản</li>
								<li>Cháu của người để lại di sản (trường hợp thừa kế thế vị)</li>
							</ul>
						</li>
						<li>
							Chứng minh nhân dân, hộ chiếu, hoặc giấy tờ hợp pháp khác về nhân thân những người sau, còn sống đến thời điểm yêu cầu công chứng vẫn còn sống:
							<ul style="list-style-type: circle">
								<li>
									Cha mẹ của người chết để lại di sản
								</li>
								<li> Vợ ( Chồng ) của người chết để lại di sản</li>
								<li>Cháu của người để lại di sản ( trường hợp thừa kế thế vị )</li>
							</ul>
						</li>
						<li>Văn bản từ chối nhận di sản của một trong những người thừa kế ( Nếu Có )</li>
						<li>Giấy tờ về di sản thừa kế: Giấy chứng nhận sở hữu nhà ở và quyền sử dụng đất ở, Giấy chứng nhận quyền sử dụng đất; sổ tiết kiệm, đăng ký xe, cổ phiếu, cổ phần hoặc các giấy tờ chứng minh quyền sở hữu đối với các tài sản khác ( Nếu có )</li>
						<dl><dt>* Trường hợp có người tham gia giao dịch không trực tiếp đến ký hợp đồng thì phải có ủy quyền hợp pháp cho người được ủy quyền ( Người được uy quyền phải có CMND, hộ khẩu ).</dt></dl>
					</ol>
					<h3>Người đến công chứng cần mang theo bản chính các giấy tờ nói trên để đôi chiếu.</h3>
				</div>

			</div>
			<div class="col-md-4 w3ls-about-right">
				<img src="images/ab.jpg" alt=" " class="img-responsive">
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	</div>
	<!-- Contract -->

